<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Recommendations</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='/book_recommend.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:wght@700&family=Ojuju:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav">
      <h1>Books Recommendation Sytem</h1>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Top 50</a>
        <a href="/recommend">Recommendations</a>
      </nav>
    </div>

    <h2>Top 50</h2>

    <div class="topbooks">
      {% for i in range(book_name|length)%}
      <div class="book">
        <img
          src="{{book_img[i]}}"
          alt="Girl in a jacket"
          width="200"
          height="250"
        />
        <h3>{{book_name[i]}}</h3>
        <p>{{book_author[i]}}</p>

        <p><b>Votes</b> - {{book_votes[i]}}</p>
        <p><b>Rating</b> - {{book_rating[i]}}</p>
      </div>

      {% endfor %}
    </div>
  </body>
</html>
